.parent{
  border: 3px solid #E74C3C;
  display: flex;
  flex-direction: row;
}
.childone{
  border: 3px solid #AED6F1;
  text-align: center;
  padding: 3%;
  margin: 2%;
  width: 40%;
  background-color: #85C1E9;
  border-radius: 10%;
}
.childtwo{
  border: 3px solid #AED6F1;
  text-align: center;
  padding: 3%;
  margin: 2%;
  width: 60%;
  background-color: #85C1E9;
  border-radius: 10%;
}
img{

  width: 60%;
  align: center;
  border-radius: 65%;
  border-shadow: 29%;
}

.header{
  text-align : left;
}

a{
  word-wrap: break-word;
}

@media only screen and (min-width: 320px) and (max-width: 440px){
.parent{
  border: 3px solid #E74C3C;
  display: flex;
  flex-direction: column;
}
.childone{
  border: 3px solid #AED6F1;
  text-align: center;
  padding: 3%;
  margin: 2%;
  width: 100%;
  background-color: #85C1E9;
  border-radius: 10%;
  font-size: auto;
}
.childtwo{
  border: 3px solid #AED6F1;
  text-align: center;
  padding: 3%;
  margin: 2%;
  width: 100%;
  background-color: #85C1E9;
  border-radius: 10%;
}

a{
  word-wrap: break-word;
}


}


@media only screen and (min-width: 481px) and (max-width:768px ){
.parent{
  border: 3px solid #E74C3C;
  display: flex;
  flex-direction: row;
}
.childone{
  border: 3px solid #AED6F1;
  text-align: center;
  padding: 3%;
  margin: 2%;
  width: 50%;
  background-color: #F8C471;
  border-radius: 10%;
  font-size: auto;
}
.childtwo{
  border: 3px solid #AED6F1;
  text-align: center;
  padding: 3%;
  margin: 2%;
  width: 50%;
  background-color: #F8C471;
  border-radius: 10%;
}

a{
  word-wrap: break-word;

}

}

@media only screen and (min-width: 769px) and (max-width:1024px ){
.parent{
  border: 3px solid white;
  display: flex;
  flex-direction: row;
}
.childone{
  border: 3px solid #AED6F1;
  text-align: left;
  padding: 3%;
  margin: 2%;
  width: 50%;
  background-color: #17202A;
  color: white;
  border-radius: 10%;
  font-size: auto;
}
.childtwo{
  border: 3px solid #AED6F1;
  text-align: center;
  padding: 3%;
  margin: 2%;
  width: 50%;
  color: white;
  background-color: #17202A;
  border-radius: 10%;
}
img{
  margin-left : 22%;
  margin-right: 78;

}
a{
  color: #FDFEFE;
  word-wrap: break-word;
}
}
